.UserButton {
  position: relative;
  width: 20%;
  transition: all 0.15s ease-in;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.content {
  text-align: center;
  color: #4695D6;
  margin-bottom: 3px;
}

.logout {
  text-align: center;
  color: black;
  &:hover {
    color: red;
  }
}