.processing-controll-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;

  // phone
  @media screen and (min-width: 320px) {
    height: 45rem;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    height: 20rem;
  }
  // tablet
  @media screen and (min-width: 768px) {
    height: 20rem;
  }

}

.processing-controll-button-wrapper {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.processing-controll-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.complete-text {
  font-size: 1.6rem;
  width: 80%;
  margin: auto;
  margin-bottom: 0.4rem;
  height: 3.5rem;
  padding-top: 0.85rem;
}

.review-write {
  position: relative;
}