img, object, video {
	max-width: 100%;
	border: 0;
}

.post-list-item-wrap {
  // margin: 0.1rem;
  // width: calc((100% - 8.75rem) / 5);
  width: 100%;
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  // 칸당 2개
  @media all and (min-width: 30em) {
    width: 50%;
  }
  //칸당 3개
  @media all and (min-width: 45em) {
    width: 33.33333%;
  }

  // 칸당 4개
  @media all and (min-width: 60em) {
    width: 25%;
  }

  .post-list-item-img {
    width: 100%;
    // padding-top: 52.63%;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .content {
    width: calc(100% - 1.75rem);
  }
}