.order-manage-list-wrapper {
  // display: inline-block;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  width: 17%;
  height: 100%;
  border: 1px solid silver;
  border-right: 0px;
  border-left: 0px;
  background-color: white;

  // 글자드래그 방지
  -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}