.show-order-num-wrapper {
  margin: 1.5rem;
  border: 1px solid #d8d6d6;
  height: 6.3rem;
}

.show-order-num-header {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #484848;
  text-align: center;
}

.show-order-num-contents {
  font-size: 1.1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #484848;
  text-align: center;
}