.order-manage-detail-wrapper {
  position: relative;
  float: left;
  overflow: auto;
  padding: 1rem;
  width: 60%;
  height: 96%;
  border: 1px solid silver;
  background-color: white;
}

.detail-default-content {
  position: absolute;  
  width: 100%; left:0; right:0; margin-left:auto; margin-right:auto; 
  height: 10%; top: 0; bottom:0; margin-top:auto; margin-bottom:auto;
  text-align: center;
  color: gray;
}

.order-manage-detail-line {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 0.5px solid #d8d6d6;
}

.header-name {
  font-size: 2rem;
}
.header-date {
  position: relative;
  right: -5rem;
  float: right;
  margin-top: 2.8rem;
  font-size: 1rem; 
}
.header-phone {
  margin-top: 0.3rem;
  font-size: 1rem;
}
.header-order-number {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.order-manage-post-button {
  position: absolute;
  float: left;
  border: 2px solid #ff5a5f;
  color: #ff5a5f;
  margin-top: 1rem;
  margin-bottom: 1rem;
  left: 28%;
  padding-top: 0.6rem;
  width: 115px;
  height: 40px;

  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #ff5a5f;
    color: white;
  }
  // 글자드래그 방지
  -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

