.detail-fixedbar-wrapper {

  // phone
  @media screen and (min-width: 320px) {
    width: 100%;
    // margin-left: 6px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    width: 48%;
    // margin-left: 12.3px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    width: 48%;
    // margin-left: 28px;
  }
  // wide
  @media screen and (min-width: 1440px) {
    width: 48%;
    // margin-left: 28px;
  }
}

.detail-fixedbar {
  top: 20px;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 1px 1px 1px 1px hsl(0, 2%, 84%);
  @media screen and (min-width: 320px) {
    position: relative; 
  }
  // tablet
  @media screen and (min-width: 768px) {
    position: sticky;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    position: sticky;
  }
  // wide
  @media screen and (min-width: 1440px) {
    position: sticky;
  }
}

.detail-image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.detail-model-image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.detail-image {
  position: relative;
  border: 1px solid #d8d6d6;
  width: 100%;
  margin: 0 auto;
  // phone
  @media screen and (min-width: 320px) {
    height: 162px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    height: 162px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    height: 225.6px;
  }
  // wide
  @media screen and (min-width: 1440px) {
    height: 328.3px;
  }
  cursor: pointer;
  
  &:hover {
    opacity: 0.4;
  }
}

.detail-model-image {
  position: relative;
  width: 100%;
  margin: 0 auto;
  // phone
  @media screen and (min-width: 320px) {
    height: 162px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    height: 162px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    height: 225.6px;
  }
  // wide
  @media screen and (min-width: 1440px) {
    height: 328.3px;
  }
  cursor: pointer;
}

.detail-image-ref-text {
  position: absolute;
  // 텍스트 가운데 정렬
  width: 100%; left:0; right:0; margin-left:auto; margin-right:auto; 
  height: 22%; top: 0; bottom:0; margin-top:auto; margin-bottom:auto;

  text-align: center;
  color: #484848;
  font-size: 1rem;
  //마우스오버 비활성화, 텍스트도 마우스 오버를 활성화 해두면 텍스트에 마우스가 올라갔을 때 이벤트가 실행됨
  pointer-events: none;
}

.order-manage-post-button {
  border: 2px solid #484848;
  border-radius: 5px;
  color: #484848;
  // width: 125px;
  width: 48%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 0;
  cursor: pointer;
  &:hover {
    background-color: #484848;
    color: white;
    transition: all .3s;
  }
  // 글자드래그 방지
  -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
  
  // phone
  @media screen and (min-width: 320px) {
    font-size: 12px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
  // wide
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }

}

.print-button {
  border: 2px solid #484848;
  border-radius: 5px;
  color: #484848;
  // width: 125px;
  width: 48%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-right: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  &:hover{
    background-color: #484848;
    color: white;
    transition: all .3s;
  }
  // phone
  @media screen and (min-width: 320px) {
    font-size: 12px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
  // wide
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

.order-delete-button {
  width: 35%;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #484848;
  cursor: pointer;
  &:hover {
    color: #fa6e57;
    font-weight: 600;
  }
}