.edit-modal-wrapper {
  margin: 1.5rem;
  margin-top: 3rem;
  overflow: auto;
}

.edit-modal-header {
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  width: 100px;
}

.edit-modal-form-table {
  width: 100%;
}

.editor-modal-post-button {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  padding-top: 7px;
  border: 2px solid #fa6e57;
  color: #fa6e57;
  text-align: center;
  background-color: white;
  width: 7rem;
  height: 2.4rem;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #fa6e57;
  }
}

.modal-cancel-button {
  position: absolute;
  margin-top: 0.6rem;
  right: 1rem;
  top: 0.2rem;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    color: red;
  }
}

.editor-modal-line {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  border: 0.03rem solid #d8d6d6;
}

.editor-modal-open-add-input-button {
  margin-top: 10px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 18px;
  border-radius: 0.2rem;
  background-color: #5db259;
  color: white;
  &:hover {
    background-color: #4d8e4a;
    color: white;
  }
  cursor: pointer;
}

.editor-modal-add-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #fa6e57;
  border-radius: 0.2rem;
}

.editor-modal-add-input {
  border: 1px solid #c3c3c3;
  border-radius: 0.2rem;
  width: 77%;
  font-size: 18px;
  margin-right: 2%;
  padding: 8px;
  &::placeholder{
    color: #cecece;
  }
}

.editor-modal-add-button {
  border: 1px solid #484848;
  color: #484848;
  padding-right: 2px;
  padding-left: 2px;
  width: 80px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  margin-right: 1%;
  font-size: 18px;
  &:hover {
    background-color: #484848;
    color: white;
  }
  cursor: pointer;
}

.editor-modal-add-cancel-button {
  border: 1px solid #484848;
  color: #484848;
  width: 40px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  &:hover {
    border: 2px solid #fa6e57;
    color: #fa6e57;
  }
  cursor: pointer;
}