.customer-info-wrapper {
  padding-top: 5rem;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.customer-info-input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.customer-info-header {
  font-size: 1.4rem;
  text-align: center;
}