.customer-info-post-button-wrapper {
  padding-top: 1rem;
}

.customer-info-post-button {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0%);

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 15%;

  font-size: 20px;
  text-align: center;

}