.model-modal-wrapper {
  overflow: auto;
  @media screen and (min-width: 320px) {
    margin: 8px;
    margin-top: 45px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    margin: 14px;
    margin-top: 45px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    margin: 40px;
    margin-top: 50px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    margin: 80px;
    margin-top: 60px;
  }
}

.model-modal-header {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  color: #484848;
  width: 100%;
}

.model-modal-image-wrapper {
  display: flex;
  width: 100%;
  @media screen and (min-width: 320px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    height: 100px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    height: 100px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    flex-direction: row;
    justify-content: center;
    height: 140px;
  }
}

.model-modal-image {
  border: 1px solid #ebebeb;
  
  // phone
  @media screen and (min-width: 320px) {
    width: 93.33px;
    height: 80px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    width: 133.33px;
    height: 100px;
    margin-right: 20px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    width: 133.33px;
    height: 100px;
    margin-right: 20px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    width: 186.66px;
    height: 140px;
    margin-right: 20px;
  }
  cursor: pointer;
}

.model-modal-image-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // phone
  @media screen and (min-width: 320px) {
    height: 120px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  // tablet
  @media screen and (min-width: 768px) {
    height: 100px;
    width: 320px;
    text-align: left;
    align-items: start;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    height: 100px;
    width: 320px;
    text-align: left;
    align-items: start;
  }
  // wide
  @media screen and (min-width: 2560px) {
    height: 140px;
    width: 500px;
    text-align: left;
    align-items: start;
  }
}

.model-modal-image-button-box {
  font-size: 20px;
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: inherit;
    width: 100px;
    height: 35px;
    border-radius: .25em;
    border: 1px solid #ebebeb; 
    background-color: #fdfdfd; 
    color: #999; 
    cursor: pointer;
  }
  input[type="file"] {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
  }
}

.model-modal-image-delete-button-box {
  font-size: 20px;
  margin-left: 10px;
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: inherit;
    width: 100px;
    height: 35px;
    border-radius: .25em;
    border: 1px solid #ebebeb; 
    background-color: #fdfdfd; 
    color: #999; 
    cursor: pointer;
  }
}

.model-modal-form-table {
  width: 100%;
}

.model-modal-post-button {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  padding-top: 7px;
  border: 2px solid #fa6e57;
  color: #fa6e57;
  text-align: center;
  background-color: white;
  width: 7rem;
  height: 2.4rem;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #fa6e57;
  }
}

.modal-cancel-button {
  position: absolute;
  margin-top: 0.6rem;
  right: 1rem;
  top: 0.2rem;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    color: red;
  }
}

.model-modal-line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d6d6;
}

.model-modal-open-add-input-button {
  margin-top: 10px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 18px;
  border-radius: 0.2rem;
  background-color: #5db259;
  color: white;
  &:hover {
    background-color: #4d8e4a;
    color: white;
  }
  cursor: pointer;
}

.model-modal-add-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #fa6e57;
  border-radius: 0.2rem;
}

.model-modal-add-input {
  border: 1px solid #c3c3c3;
  border-radius: 0.2rem;
  width: 77%;
  font-size: 18px;
  margin-right: 2%;
  padding: 8px;
  &::placeholder{
    color: #cecece;
  }
}

.model-modal-add-button {
  border: 1px solid #484848;
  color: #484848;
  padding-right: 2px;
  padding-left: 2px;
  width: 80px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  margin-right: 1%;
  font-size: 18px;
  &:hover {
    background-color: #484848;
    color: white;
  }
  cursor: pointer;
}

.model-modal-add-cancel-button {
  border: 1px solid #484848;
  color: #484848;
  width: 40px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  &:hover {
    border: 2px solid #fa6e57;
    color: #fa6e57;
  }
  cursor: pointer;
}