.model-preview-wrapper {
  display: flex;

  // phone
  @media screen and (min-width: 320px) {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    flex-direction: row;    
    width: 80%;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    width: 80%;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    flex-direction: row;
    width: 80%;
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

}

.model-preview-left {
  // phone
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  // tablet
  @media screen and (min-width: 768px) {
    width: 60%;
    margin-right: 15px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    width: 60%;
    margin-right: 15px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    width: 60%;
    margin-right: 15px;
  }
}

.model-preview-right {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border: 1px solid #d8d6d6;
  // phone
  @media screen and (min-width: 320px) {
    width: 100%;
    margin-top: 20px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    width: 40%;
    margin-top: 0px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    width: 40%;
    margin-top: 0px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    width: 40%;
    margin-top: 0px;
  }
}


.model-preview-label {
  position: relative;
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #767676;
}

.model-preview-value {
  position: relative;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  font-size: 20px;
  color: #767676;
}

.model-preview-input {
  position: relative;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  padding-left: 5px;
  border: 1px solid #c3c3c3;
  border-radius: 0.2rem;
  font-size: 18px;
  outline: none;
  color: #767676;
  &::placeholder {
    color: #cecece;
  }
}

.model-preview-line {
  width: 95%;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0.5px solid #d8d6d6;
}

.model-preview-img {
  border: 1px solid #ebebeb;
  // phone
  @media screen and (min-width: 320px) {
    width: 262px;
    height: 196.5px;
  }
  // tablet
  @media screen and (min-width: 768px) {
    width: 190px;
    height: 142.5px;
  }
  // desktop
  @media screen and (min-width: 1024px) {
    width: 264px;
    height: 198px;
  }
  // wide
  @media screen and (min-width: 2560px) {
    width: 706px;
    height: 529.5px;
  }
}

.model-preview-info-input {
  width: 90%;
  .label{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #767676;
  }
  input {
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #f99484;
    border-radius: 0.2rem;
  }
}

.model-preview-post-button {
  width: 90%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  border: 2px solid #154d77;
  color: #154d77;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #154d77;
    color: white;
  }
}