.maker-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #d8d6d6;
  background-color: white;
}

.maker-info-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  padding-left: 10px;
  background-color: #e9f1f9;
}

.maker-info-contents {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
}

.maker-info-header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.maker-info-phone{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-size: 17px;
}

.maker-info-address{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  font-size: 17px;
}

.maker-info-detail {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  font-size: 17px;
}