.detail-input-wrapper {
  position: relative;
  width: 100%;
}

.detail-label {
  position: relative;
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  color: #767676;
}

.detail-input {
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0.3rem;
  margin-right: 2%;
  padding: 0.5rem;
  border: 1px solid #c3c3c3;
  border-radius: 0.2rem;
  font-size: 18px;
  outline: none;
  &::placeholder {
    color: #cecece;
  }
}

.detail-delete-button {
  margin-top: 5px;
  margin-bottom: 0.3rem;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 800;
  border-radius: 19.5px;
  background-color: #fa6e57;
  color: white;
  &:hover {
    background-color: #d65946;
  }
  cursor: pointer;
}