.input-wrapper {
  position: relative;
  width: 100%;
}

.label {
  position: relative;
  margin-top: 0.1rem;
  text-align: left;
  font-size: 15px;
  color: #767676
}

.input {
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 0.2rem;
  font-size: 18px;
  outline: none;
}