.detail-contents-wrapper {
  margin: 1.5rem;
  margin-top: 1rem;
  overflow: auto;
}

.detail-contents-form-table {
  width: 100%;
  td {
    font-size: 1.2rem;
    // border: 1px solid black;
  }
  .detail-contents-label {
    font-size: 1rem;
    padding: 0.5rem;
    width: 20%;
  }
  .detail-contents-value {
    width: 30%;
  }
  .detail-contents-image {
    position: relative;
    border: 1px solid #d8d6d6;
    width: 50%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
  }
  .detail-contents-value2 {
    width: 30%;
    font-size: 0.9rem;
    padding-left: 0.5rem;
  }
}

.detail-image-wrapper {
  width: 100%;
  height: 16rem;
  display: block;
  &:hover {
    opacity: 0.4;
  }
}

.detail-image-ref-text {
  position: absolute;
  // 가운데 정렬
  width: 100%; left:0; right:0; margin-left:auto; margin-right:auto; 
  height: 22%; top: 0; bottom:0; margin-top:auto; margin-bottom:auto;

  text-align: center;
  color: black;
  font-size: 1rem;
  //마우스오버 비활성화, 텍스트도 마우스 오버를 활성화 해두면 텍스트에 마우스가 올라갔을 때 이벤트가 실행됨
  pointer-events: none;
}