.post-list-wrap{
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

// /* CSS Animations */
// @-webkit-keyframes fadeout {
//   0%   { background: #fff; }
//   10%   { background: #eee; }
//   100% { background: #fff; }
// }
// @-moz-keyframes fadeout {
//   0%   { background: #fff; }
//   10%   { background: #eee; }
//   100% { background: #fff; }
// }
// @-o-keyframes fadeout {
//   0%   { background: #fff; }
//   10%   { background: #eee; }
//   100% { background: #fff; }
// }
// @keyframes fadeout {
//   0%   { background: #fff; }
//   10%   { background: #eee; }
//   100% { background: #fff; }
// }


